<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brian Norlander</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
	<link rel="shortcut icon" href="../img/icons/philippines-flag-round-icon-16.ico" />
	<meta name="description" content="This is personal website of Brian Philiip Norlander, Woodbury MN. Inside you will find my projects, travel blogs, the books I'm reading, and links to my Github, LinkedIn, and my resume.">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Inconsolata:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119534242-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-119534242-1');
	</script>

</head>
<body>
	<!-- Header -->
	<header>
		<div class="content">
			<h1 class="path"> 
				<span class="component"><a href="/">~</a></span> 
				<span class="slash">/</span> 
				<span class="component"><a href="/">Brian Norlander</a></span>
				<span class="slash">/</span> 
				<span class="component"><a href="/Travel">Travel</a></span>
				<span class="slash">/</span> 
				<span class="component"><a href="/Travel">Philippines</a></span>
			</h1>
		</div>
	</header>

	<!-- Header image -->
					<img class="lazy" src="../img/Philippines/Original/pineapple_3.jpg" data-src="../img/Philippines/900x600/pineapple_3.jpg" data-srcset="../img/Philippines/900x600/pineapple_3.jpg 2x, ../img/Philippines/Original/pineapple_3.jpg 1x" alt="Philippines">
	<div class="content">
		<article class="main">
			<p>
				I visited the Philippines and Hong Kong from Dec. 29th to January 12th 2018
			</p>

			<!-- Manila -->
			<div class="text">
				<h1>
					Manila
				</h1>
				<p>
					<a href="https://en.wikipedia.org/wiki/Manila">Manila</a>, the capitol and chief city of the Philippines, is the center of the country's economic, political, social, and cultural activity. The official language is Taglogog and the most popular sport is basketball. It also has the most dense city proper in the world.
				</p>
			</div>
			<div class="chunk">
				<div class="image_two_set">
					<img src="../img/Philippines/900x600/manila_2.jpg"
					      srcset="../img/Philippines/225x150/manila_2.jpg 225w,
					             ../img/Philippines/450x300/manila_2.jpg 450w,
					             ../img/Philippines/900x600/manila_2.jpg 900w"
					      class = "left">
					<img src="../img/Philippines/900x600/manila_1.jpg"
					      srcset="../img/Philippines/225x150/manila_1.jpg 225w,
					             ../img/Philippines/450x300/manila_1.jpg 450w,
					             ../img/Philippines/900x600/manila_1.jpg 900w"
					      class = "right">
					<p class="caption">
						View from the MRT (Metro Rail Transmit) in the heart of Manila
					</p>
				</div>
				<p class="text">
					The morning after landing in Manila we took to the streets and did a loop through the city. Our transit was a combination of foot travel, MRT rides, tricycles, and of course jeepneys.
				</p>
				<div class="image_two_set">
					<img src="../img/Philippines/900x600/tricycle.jpg"
					      srcset="../img/Philippines/225x150/tricycle.jpg 225w,
					             ../img/Philippines/450x300/tricycle.jpg 450w,
					             ../img/Philippines/900x600/tricycle.jpg 900w"
					      class = "left">
					<img src="../img/Philippines/900x600/jeepney.jpg"
					      srcset="../img/Philippines/225x150/jeepney.jpg 225w,
					             ../img/Philippines/450x300/jeepney.jpg 450w,
					             ../img/Philippines/900x600/jeepney.jpg 900w"
					      class = "right">
					<p class="caption">
						<b>Left: </b>Tricycles <b>Right: </b>Jeepeny
					</p>
				</div>
				<p class="text">
					In Manila it was hot, humid and suffocating. The markets stretched for miles and one could easily get lost in the many indoor malls. After less than half a day in those crowded streets we were ready to leave the metropolis and go to a different island.
				</p>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/manila_market_4.jpg 225w,
					             ../img/Philippines/450x300/manila_market_4.jpg 450w,
					             ../img/Philippines/900x600/manila_market_4.jpg 900w"
					      src="../img/Philippines/900x600/manila_market_4.jpg">
					<p class="caption">
						Baclaran market
					</p>
				</div>
			</div>

			<!-- Davao City -->
			<div class="text">
				<h1>
					Davao City
				</h1>
				<p>
					Davao City is the captiol of the southern most island in the Philippines, Mindinau. It's tropical rainforest climate is home to wonderful fruits, many of which don't grow anywhere else in the world.
				</p>
			</div>
			<div class="chunk">
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_11.jpg 225w,
					             ../img/Philippines/450x300/davao_11.jpg 450w,
					             ../img/Philippines/900x600/davao_11.jpg 900w"
					      src="../img/Philippines/900x600/davao_11.jpg">
					<p>
						Davao City, home of the infamous durian
					</p>
				</div>
				<p class="text">
					Davao is nicknamed "The <a href="https://en.wikipedia.org/wiki/Durian">durian</a> capitol of the Philippines". The common saying is that durian "smells like hell, tastes like heaven". It's smell has been compared to rotting meat, turpentine, gym socks, and rotten eggs. This is no joke. The fruit can be smelled from many yards away and is not allowed in most hotels! Several of my traveling partners gagged upon trying it.
				</p>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/durian_2.jpg 225w,
					             ../img/Philippines/450x300/durian_2.jpg 450w,
					             ../img/Philippines/900x600/durian_2.jpg 900w"
					      src="../img/Philippines/900x600/durian_2.jpg"
					      class="left">
					<img srcset="../img/Philippines/225x150/durian_3.jpg 225w,
					             ../img/Philippines/450x300/durian_3.jpg 450w,
					             ../img/Philippines/900x600/durian_3.jpg 900w"
					      src="../img/Philippines/900x600/durian_3.jpg"
					      class="right">
					<p class="caption">
						It is advised to wear gloves while eating durian to avoid smelling like rotten eggs
					</p>
				</div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/fruit_durian.jpg 225w,
					             ../img/Philippines/450x300/fruit_durian.jpg 450w,
					             ../img/Philippines/900x600/fruit_marang.jpg 900w"
					      src="../img/Philippines/900x600/fruit_marang.jpg"
					      class="left">
					<img srcset="../img/Philippines/225x150/fruit_durian.jpg 225w,
					             ../img/Philippines/450x300/fruit_durian3.jpg 450w,
					             ../img/Philippines/900x600/fruit_durian.jpg 900w"
					      src="../img/Philippines/900x600/fruit_durian.jpg"
					      class="right">
					<p class="caption">
						<b>Left: </b>Marang <b>Right: </b>Durian
					</p>
				</div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/fruit_lasones.jpg 225w,
					             ../img/Philippines/450x300/fruit_lasones.jpg 450w,
					             ../img/Philippines/900x600/fruit_lasones.jpg 900w"
					      src="../img/Philippines/900x600/fruit_lasones.jpg"
					      class="left">
					<img srcset="../img/Philippines/225x150/fruit_pomelo.jpg 225w,
					             ../img/Philippines/450x300/fruit_pomelo.jpg 450w,
					             ../img/Philippines/900x600/fruit_pomelo.jpg 900w"
					      src="../img/Philippines/900x600/fruit_pomelo.jpg"
					      class="right">
					<p class="caption">
						<b>Left: </b>Lasones <b>Right: </b>Pomelo
					</p>
				</div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/fruit_mango.jpg 225w,
					             ../img/Philippines/450x300/fruit_mango.jpg 450w,
					             ../img/Philippines/900x600/fruit_mango.jpg 900w"
					      src="../img/Philippines/900x600/fruit_mango.jpg"
					      class="left">
					<img srcset="../img/Philippines/225x150/fruit_papaya.jpg 225w,
					             ../img/Philippines/450x300/fruit_papaya.jpg 450w,
					             ../img/Philippines/900x600/fruit_papaya.jpg 900w"
					      src="../img/Philippines/900x600/fruit_papaya.jpg"
					      class="right">
					<p class="caption">
						<b>Left: </b>Mango <b>Right: </b>Papaya
					</p>
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_family_4.jpg 225w,
	                             ../img/Philippines/450x300/davao_family_4.jpg 450w,
	                             ../img/Philippines/900x600/davao_family_4.jpg 900w"
	                     src="../img/Philippines/davao_family_4.jpg"
	                     class="center">
                     <p class="caption">
                     	Filipno dinner
                     </p>
                 </div>
			</div>

			<!-- Samal Island -->
			<div class="text">
				<h1>
					Samal Island
				</h1>
				<p>
					The Island Garden City of Samal, a short outrigger ride away from Davao City, is home to many lovely beaches and small resorts.
				</p>
			</div>
			<div class="chunk">
				<div class="text">
					We boarded an outirgger in Davao and took a short boat trip to Samal Island
				</div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/samal_island_0.jpg 225w,
					             ../img/Philippines/450x300/samal_island_0s.jpg 450w,
					             ../img/Philippines/900x600/samal_island_0.jpg 900w"
					      src="../img/Philippines/900x600/samal_island_0.jpg"
					      class="left">
					<img srcset="../img/Philippines/225x150/samal_island_4.jpg 225w,
					             ../img/Philippines/450x300/samal_island_4.jpg 450w,
					             ../img/Philippines/900x600/samal_island_4.jpg 900w"
					      src="../img/Philippines/900x600/samal_island_4.jpg"
					      class="right">
					<p class="caption">
						Boarding the outrigger
					</p>
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/samal_island_7.jpg 225w,
					             ../img/Philippines/450x300/samal_island_7.jpg 450w,
					             ../img/Philippines/900x600/samal_island_7.jpg 900w"
					      src="../img/Philippines/900x600/samal_island_7.jpg">
				</div>
				<div class="image_four_set">
					<img srcset="../img/Philippines/225x150/samal_island_2.jpg 225w,
					             ../img/Philippines/450x300/samal_island_2.jpg 450w,
					             ../img/Philippines/900x600/samal_island_2.jpg 900w"
					      src="../img/Philippines/900x600/samal_island_2.jpg"
					      class="upper_left">
					<img srcset="../img/Philippines/225x150/samal_island_3.jpg 225w,
					             ../img/Philippines/450x300/samal_island_3.jpg 450w,
					             ../img/Philippines/900x600/samal_island_3.jpg 900w"
					      src="../img/Philippines/900x600/samal_island_3.jpg"
					      class="upper_right">
					<img srcset="../img/Philippines/225x150/samal_island_8.jpg 225w,
					             ../img/Philippines/450x300/samal_island_8.jpg 450w,
					             ../img/Philippines/900x600/samal_island_8.jpg 900w"
					      src="../img/Philippines/900x600/samal_island_8.jpg"
					      class="lower_left">
					<img srcset="../img/Philippines/225x150/samal_island_12.jpg 225w,
					             ../img/Philippines/450x300/samal_island_12.jpg 450w,
					             ../img/Philippines/900x600/samal_island_12.jpg 900w"
					      src="../img/Philippines/900x600/samal_island_12.jpg"
					      class="lower_right">
					<p class="caption">
						Hanging out by the ocean
					</p>
				</div>
			</div>

			<!-- Mindinau Drive -->
			<div class="text">
				<h1>
					Mindinau
				</h1>
				<p>
					We drove across Mindinau Island from Davao City to Lake Sebu. The roads on this trek were often unpaved and varied in quality. Most of the other vehicles accompying us on the road were not cars, but motorcycles and improvised tricycles. The western part of Mindinau is considered a high risk area for foreign travelers.
				</p>
			</div>
			<div class="chunk">
				<img src="../img/Philippines/travel_risk.jpg" class="center">
				<p class="caption center">
					Travel risk map of the Philippines
				</p>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_drive_2.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_2.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_2.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_2.jpg">
			    </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_drive_3.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_3.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_3.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_3.jpg">
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_drive_8.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_8.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_8.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_8.jpg">
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_drive_10.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_10.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_10.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_10.jpg">
				</div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/davao_drive_12.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_12.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_12.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_12.jpg"
					      class="left">
					<img srcset="../img/Philippines/225x150/davao_drive_16.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_16.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_16.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_16.jpg"
					      class="right">
			    </div>
			    <div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_drive_20jpg 225w,
					             ../img/Philippines/450x300/davao_drive_20.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_20.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_20.jpg">
			    </div>
			    <div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_drive_23.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_23.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_23.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_23.jpg">
				<p class="caption">
					Pineapple plantations
				</p>
				</div>
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/davao_drive_92.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_92.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_92.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_92.jpg">
				</div>
				<div class="image_four_set">
					<img srcset="../img/Philippines/225x150/davao_drive_35.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_35.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_35.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_35.jpg"
					      class="upper_left">
					<img srcset="../img/Philippines/225x150/davao_drive_40.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_40.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_40.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_40.jpg"
					      class="upper_right">
					<img srcset="../img/Philippines/225x150/davao_drive_50.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_50.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_50.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_50.jpg"
					      class="lower_left">
					<img srcset="../img/Philippines/225x150/davao_drive_86.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_86.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_86.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_86.jpg"
					      class="lower_right">
			        <p class="caption">
			      	  Rural Philippines
			        </p>
				</div>
				<div class="image_four_set">
					<img srcset="../img/Philippines/225x150/davao_drive_75.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_75.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_75.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_75.jpg"
					      class="upper_left">
					<img srcset="../img/Philippines/225x150/davao_drive_93.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_93.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_93.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_93.jpg"
					      class="upper_right">
					<img srcset="../img/Philippines/225x150/davao_drive_79.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_79.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_79.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_79.jpg"
					      class="lower_left">
					<img srcset="../img/Philippines/225x150/davao_drive_81.jpg 225w,
					             ../img/Philippines/450x300/davao_drive_81.jpg 450w,
					             ../img/Philippines/900x600/davao_drive_81.jpg 900w"
					      src="../img/Philippines/900x600/davao_drive_81.jpg"
					      class="lower_right">
				</div>

			<!-- Lake Sebu -->
			<div class="text">
				<h1>
					Lake Sebu
				</h1>
				<p>
					Located in the tropical rainforests of southwestern Mindinau, Lake Sebu is a natural, fresh water lake. Many believe that it is home to the freshest <a href="https://en.wikipedia.org/wiki/Tilapia">tilapia</a> in the Philippines due to its high elevation.
				</p>
			</div>
			<div class="chunk">
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/sebu_falls_2.jpg 225w,
					             ../img/Philippines/450x300/sebu_falls_2.jpg 450w,
					             ../img/Philippines/900x600/sebu_falls_2.jpg 900w"
					      src="../img/Philippines/sebu_falls_2.jpg">
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/lake_sebu_1.jpg 225w,
					             ../img/Philippines/450x300/lake_sebu_1.jpg 450w,
					             ../img/Philippines/900x600/lake_sebu_1.jpg 900w"
					      src="../img/Philippines/900x600/lake_sebu_1.jpg">
					<p class="caption">
						<b>Left:</b> Rain forest <b>Right: </b>Rice paddies
					</p>
				</div>
			</div>
			<div class="chunk">
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/zipline_14.jpg 225w,
					             ../img/Philippines/450x300/zipline_14.jpg 450w,
					             ../img/Philippines/900x600/zipline_14.jpg 900w"
					      src="../img/Philippines/zipline_14.jpg">
			         <p class="caption">
                        We took a ride on the highest zipline in southeast asia.
			         </p>
				</div>
			</div>
			<div class="text">
				On our way back, we couldn't resist stopping for some <a href="https://en.wikipedia.org/wiki/Balut_(food)">balut</a>. Balut is a developing bird embryo (usually a duck) anywhere between 14 and 21 days old. It is boiled and then eaten directly from the shell. Balut is commonly sold as street food throughout the Philippines.
			</div>
			<div class="chunk">
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/balut_closeup.jpg 225w,
					             ../img/Philippines/450x300/balut_closeup.jpg 450w,
					             ../img/Philippines/balut_closeup.jpg 900w"
					      src="../img/Philippines/balut_closeup.jpg">
					<p class="caption">
						Partially shelled balut egg showing the yolk, feathers, beak and all
					</p>
				</div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/balut_davao_4.jpg 225w,
					             ../img/Philippines/450x300/balut_davao_4.jpg 450w,
					             ../img/Philippines/900x600/balut_davao_4.jpg 900w"
					      src="../img/Philippines/balut_davao_4.jpg"
					      class="left">
					<img srcset="../img/Philippines/225x150/balut_davao_14.jpg 225w,
					             ../img/Philippines/450x300/balut_davao_14.jpg 450w,
					             ../img/Philippines/900x600/balut_davao_14.jpg 900w"
					      src="../img/Philippines/balut_davao_14.jpg"
					      class="right">
					<p>
						My first taste of balut
					</p>
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/balut_littleboy_2.jpg 225w,
					             ../img/Philippines/450x300/balut_littleboy_2.jpg 450w,
					             ../img/Philippines/900x600/balut_littleboy_2.jpg 900w"
					      src="../img/Philippines/balut_littleboy_2.jpg">
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/balut_davao_1.jpg 225w,
					             ../img/Philippines/450x300/balut_davao_1.jpg 450w,
					             ../img/Philippines/900x600/balut_davao_1.jpg 900w"
					      src="../img/Philippines/balut_davao_1.jpg">
				</div>
				<p class="caption">
					We were no match for this little boy
				</p>
				</div>
				<p class="text">
					On the road from Davao City to Lake Sebu we stopped by Dole's largest pineapple plantation in the world as well as a large fruit market.
				</p>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/fruit_stand_11.jpg 225w,
					             ../img/Philippines/450x300/fruit_stand_11.jpg 450w,
					             ../img/Philippines/900x600/fruit_stand_11.jpg 900w"
					      src="../img/Philippines/fruit_stand_11.jpg">
				</div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/fruit_stand_4.jpg 225w,
					             ../img/Philippines/450x300/fruit_stand_4.jpg 450w,
					             ../img/Philippines/900x600/fruit_stand_4.jpg 900w"
					      src="../img/Philippines/fruit_stand_4.jpg"
					      class="left">
					<img srcset="../img/Philippines/225x150/fruit_stand_5.jpg 225w,
					             ../img/Philippines/450x300/fruit_stand_5.jpg 450w,
					             ../img/Philippines/900x600/fruit_stand_5.jpg 900w"
					      src="../img/Philippines/fruit_stand_5.jpg"
					      class="right">
				</div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/fruit_stand_10.jpg 225w,
					             ../img/Philippines/450x300/fruit_stand_10.jpg 450w,
					             ../img/Philippines/900x600/fruit_stand_10.jpg 900w"
					      src="../img/Philippines/fruit_stand_10.jpg">
					<p class="caption">
						Fruit stand
					</p>
				</div>
				<div class="image_four_set">
					<img srcset="../img/Philippines/225x150/pineapple_6.jpg 225w,
					             ../img/Philippines/450x300/pineapple_6.jpg 450w,
					             ../img/Philippines/900x600/pineapple_6.jpg 900w"
					      src="../img/Philippines/pineapple_6.jpg"
					      class="upper_left">
					<img srcset="../img/Philippines/225x150/pineapple_19.jpg 225w,
					             ../img/Philippines/450x300/pineapple_19.jpg 450w,
					             ../img/Philippines/900x600/pineapple_19.jpg 900w"
					      src="../img/Philippines/pineapple_19.jpg"
					      class="upper_right">
					<img srcset="../img/Philippines/225x150/pineapple_8.jpg 225w,
					             ../img/Philippines/450x300/pineapple_8.jpg 450w,
					             ../img/Philippines/900x600/pineapple_8.jpg 900w"
					      src="../img/Philippines/pineapple_8.jpg"
					      class="lower_left">
					<img srcset="../img/Philippines/225x150/pineapple_1.jpg 225w,
					             ../img/Philippines/450x300/pineapple_1.jpg 450w,
					             ../img/Philippines/900x600/pineapple_1.jpg 900w"
					      src="../img/Philippines/pineapple_1.jpg"
					      class="lower_right">
					<p>
						Dole pineapple plantation
					</p>
				</div>

			<!-- IloIlo -->
			<div class="text">
				<h1>
					IloIlo City
				</h1>
				<p>
					IloIlo City is located on Panay island, an island in central Philippines. It has one of the fastest growing economies in the Philippines and has many churches with Spanish baroque architecture.
				</p>
			</div>
			<div class="chunk">
				<img srcset="../img/Philippines/225x150/iloilo_drive_5.jpg 225w,
                             ../img/Philippines/450x300/iloilo_drive_5.jpg 450w,
                             ../img/Philippines/900x600/iloilo_drive_5.jpg 900w"
                     src="../img/Philippines/iloilo_drive_5.jpg"
                     class="center">
				<p class="caption center">
					Baroque church
				</p>
				<img srcset="../img/Philippines/225x150/manila_market_1.jpg 225w,
                             ../img/Philippines/450x300/manila_market_1.jpg 450w,
                             ../img/Philippines/900x600/manila_market_1.jpg 900w"
                     src="../img/Philippines/manila_market_1.jpg"
                     class="center">
				<p class="caption center">
					Street basketball
				</p>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/iloilo_boodle_fight.jpg 225w,
	                             ../img/Philippines/450x300/iloilo_boodle_fight.jpg 450w,
	                             ../img/Philippines/900x600/iloilo_boodle_fight.jpg 900w"
	                     src="../img/Philippines/iloilo_boodle_fight.jpg">
                     <p class="caption">
                     	Boodle fight!
                     </p>
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/iloilo_boodle_fight_8.jpg 225w,
	                             ../img/Philippines/450x300/iloilo_boodle_fight_8.jpg 450w,
	                             ../img/Philippines/900x600/iloilo_boodle_fight_8.jpg 900w"
	                     src="../img/Philippines/iloilo_boodle_fight_8.jpg"
	                     class="center">
                 </div>
			</div>

			<!-- Guimaras -->
			<div class="text">
				<h1>
					Guimaras Island
				</h1>
				<p>
					Guimaras island is a short outrigger trip from IloIlo. Locals say that it has the best mangos in the Philippines. It also has many beautiful beaches and is largely without many commerical buildings.
				</p>
			</div>
			<div class="chunk">
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/guimaras_13.jpg 225w,
	                             ../img/Philippines/450x300/guimaras_13.jpg 450w,
	                             ../img/Philippines/900x600/guimaras_13.jpg 900w"
	                     src="../img/Philippines/guimaras_13.jpg"
	                     class="center">
                 </div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/guimaras_boat_8jpg 225w,
	                             ../img/Philippines/450x300/guimaras_boat_8.jpg 450w,
	                             ../img/Philippines/900x600/guimaras_boat_8.jpg 900w"
	                     src="../img/Philippines/guimaras_boat_8.jpg"
	                     class="left">
					<img srcset="../img/Philippines/225x150/guimaras_14.jpg 225w,
	                             ../img/Philippines/450x300/guimaras_14.jpg 450w,
	                             ../img/Philippines/900x600/guimaras_14.jpg 900w"
	                     src="../img/Philippines/guimaras_14.jpg"
	                     class="right">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/guimaras_10.jpg 225w,
	                             ../img/Philippines/450x300/guimaras_10.jpg 450w,
	                             ../img/Philippines/900x600/guimaras_10.jpg 900w"
	                     src="../img/Philippines/guimaras_10.jpg"
	                     class="center">
                 </div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/guimaras_boat_10.jpg 225w,
	                             ../img/Philippines/450x300/guimaras_boat_10.jpg 450w,
	                             ../img/Philippines/900x600/guimaras_boat_10.jpg 900w"
	                     src="../img/Philippines/guimaras_boat_10.jpg"
	                     class="left">
					<img srcset="../img/Philippines/225x150/guimaras_boat_12.jpg 225w,
	                             ../img/Philippines/450x300/guimaras_boat_12.jpg 450w,
	                             ../img/Philippines/900x600/guimaras_boat_12.jpg 900w"
	                     src="../img/Philippines/guimaras_boat_12.jpg"
	                     class="right">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/guimaras_27.jpg 225w,
	                             ../img/Philippines/450x300/guimaras_27.jpg 450w,
	                             ../img/Philippines/900x600/guimaras_27.jpg 900w"
	                     src="../img/Philippines/guimaras_27.jpg"
	                     class="center">
                 </div>
			</div>

			<!-- Mambukal -->
			<div class="text">
				<h1>
					Mambukal
				</h1>
				<p>
					Mambukal is a resort located on Nergos Island, an island in central Philippines. It runs along a river with 7 falls and also has natural hot springs from the nearby volcano.
				</p>
			</div>
			<div class="chunk">
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/7_falls_34.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_34.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_34.jpg 900w"
	                     src="../img/Philippines/7_falls_34.jpg"
	                     class="center">
                 </div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/7_falls_27.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_27.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_27.jpg 900w"
	                     src="../img/Philippines/7_falls_27.jpg"
	                     class="left">
					<img srcset="../img/Philippines/225x150/7_falls_14.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_14.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_14.jpg 900w"
	                     src="../img/Philippines/7_falls_14.jpg"
	                     class="right">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/7_falls_21.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_21.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_21.jpg 900w"
	                     src="../img/Philippines/7_falls_21.jpg"
	                     class="center">
	                     <p class="cation">
	                     	Some kids showed us were we could jump in and cool off
	                     </p>
                 </div>
				<div class="image_two_set">
					<img srcset="../img/Philippines/225x150/7_falls_30.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_30.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_30.jpg 900w"
	                     src="../img/Philippines/7_falls_30.jpg"
	                     class="left">
					<img srcset="../img/Philippines/225x150/7_falls_50.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_50.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_50.jpg 900w"
	                     src="../img/Philippines/7_falls_50.jpg"
	                     class="right">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/7_falls_32.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_32.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_32.jpg 900w"
	                     src="../img/Philippines/7_falls_32.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/7_falls_53.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_53.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_53.jpg 900w"
	                     src="../img/Philippines/7_falls_53.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/7_falls_45.jpg 225w,
	                             ../img/Philippines/450x300/7_falls_45.jpg 450w,
	                             ../img/Philippines/900x600/7_falls_45.jpg 900w"
	                     src="../img/Philippines/7_falls_45.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/bacolod_plantation_13.jpg 225w,
	                             ../img/Philippines/450x300/bacolod_plantation_13.jpg 450w,
	                             ../img/Philippines/900x600/bacolod_plantation_13.jpg 900w"
	                     src="../img/Philippines/bacolod_plantation_13.jpg"
	                     class="center">
                     <p class="caption">
                     	A remnant of Spanish colonialism
                     </p>
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/bacolod_plantation_18.jpg 225w,
	                             ../img/Philippines/450x300/bacolod_plantation_18.jpg 450w,
	                             ../img/Philippines/900x600/bacolod_plantation_18.jpg 900w"
	                     src="../img/Philippines/bacolod_plantation_18.jpg"
	                     class="center">
                 </div>
			</div>

			<!-- Hong Kong -->
			<div class="text">
				<h1>
					Hong Kong
				</h1>
				<p>

				</p>
			</div>
			<div class="chunk">
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/hongkong_5.jpg 225w,
	                             ../img/Philippines/450x300/hongkong_5.jpg 450w,
	                             ../img/Philippines/900x600/hongkong_5.jpg 900w"
	                     src="../img/Philippines/hongkong_5.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/hong_kong_9.jpg 225w,
	                             ../img/Philippines/450x300/hong_kong_9.jpg 450w,
	                             ../img/Philippines/900x600/hong_kong_9.jpg 900w"
	                     src="../img/Philippines/hong_kong_9.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/hong_kong_1.jpg 225w,
	                             ../img/Philippines/450x300/hong_kong_1.jpg 450w,
	                             ../img/Philippines/900x600/hong_kong_1.jpg 900w"
	                     src="../img/Philippines/hong_kong_1.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/hongkong_food_7.jpg 225w,
	                             ../img/Philippines/450x300/hongkong_food_7.jpg 450w,
	                             ../img/Philippines/900x600/hongkong_food_7.jpg 900w"
	                     src="../img/Philippines/hongkong_food_7.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/hongkong_food_1.jpg 225w,
	                             ../img/Philippines/450x300/hongkong_food_1.jpg 450w,
	                             ../img/Philippines/900x600/hongkong_food_1.jpg 900w"
	                     src="../img/Philippines/hongkong_food_1.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/hongkong_12.jpg 225w,
	                             ../img/Philippines/450x300/hongkong_12.jpg 450w,
	                             ../img/Philippines/900x600/hongkong_12.jpg 900w"
	                     src="../img/Philippines/hongkong_12.jpg"
	                     class="center">
                 </div>
			</div>

			<!-- Corregidor -->
			<div class="text">
				<h1>
					Corregidor
				</h1>
				<p>
					Due to its strategic location in Manila Bay, this island has historically been fortified with coastal artillary to defend against enemy warships. It has been controlled by Spain, the United States, and Japan until the establishment of the Philippines in 1946. During World War 2 Corregidor play an important role during the invasion and liberation of the Philippines.
				</p>
			</div>
			<div class="chunk">
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/corregidor_19.jpg 225w,
	                             ../img/Philippines/450x300/corregidor_19.jpg 450w,
	                             ../img/Philippines/900x600/corregidor_19.jpg 900w"
	                     src="../img/Philippines/corregidor_19.jpg"
	                     class="center">
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/corregidor_18.jpg 225w,
	                             ../img/Philippines/450x300/corregidor_18.jpg 450w,
	                             ../img/Philippines/900x600/corregidor_18.jpg 900w"
	                     src="../img/Philippines/corregidor_18.jpg"
	                     class="center">
                     <p class="caption">
                     	View of Bataan peninsula, where the Bataan death march took place
                     </p>
                 </div>
				<div class="image_one_set">
					<img srcset="../img/Philippines/225x150/corregidor_17.jpg 225w,
	                             ../img/Philippines/450x300/corregidor_17.jpg 450w,
	                             ../img/Philippines/900x600/corregidor_17.jpg 900w"
	                     src="../img/Philippines/corregidor_17.jpg"
	                     class="center">
                 </div>
			</div>

		</article>
	</div>

	<!-- Footer -->
	<footer>
		<div class="content">
			<h4 class="path">
				<div class="boxes">
					<div class="box">
						<span class="component"><a href="img/Resume/Resume.pdf" target="_blank">/ Resume</a></span> 
					</div>
					<div class="box">
						<span class="component"><a href="https://github.com/norMNfan" target="_blank">/ Github</a></span>
					</div>
					<div class="box">
						<span class="component"><a href="https://www.linkedin.com/in/brian-norlander-1a7495160/" target="_blank">/ LinkedIn</a></span>
					</div>
				</div>
			</h3>
		</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>