<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brian Norlander</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Personal website of Brian Norlander, Woodbury MN. Brian Norlander likes creating new applications that use data mining and natural language processing algorithms.">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="shortcut icon" href="img/icons/united-states-of-america-flag-round-icon-16.ico" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Inconsolata:400,700" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119534242-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-119534242-1');
	</script>

</head>
<body>
	<!-- Header -->
	<header>
		<div class="content">
			<h1 class="path"> 
				<span class="component"><a href="/">~</a></span> 
				<span class="slash">/</span> 
				<span class="component"><a href="/">Brian Norlander</a></span>
			</h1>
		</div>
	</header>

	<!-- Main content -->
	<div class="content">

		<!-- Bio -->
		<div class="text text_main">
			I am an undergraduate computer science major at the <a href="https://twin-cities.umn.edu/">University of Minnesota</a> and will be graduating in December 2018. My primary area of interest is creating data mining and machine learning applications. I like web development too!
		</div>

		<!-- Projects -->
		<div class="section">
			<h4 class="path"> 
				<span class="slash">/</span> 
				<span class="component"><a href="/Projects">Projects</a></span>
			</h4>
		</div>

		<div class="boxes">
			<div class="box">
				<a href="/Projects/SongSentimentAnalysis">
					<div class="img_container">
						<img src="img/RayTracer/BallsRender.jpg">
					</div>
				</a>
				<h3>
					<a href="/Projects/SongSentimentAnalysis">
						Song Sentiment Analysis
					</a>
				</h3>
			</div>
		</div>

		<!-- Travel -->
		<div class="section">
			<h4 class="path"> 
				<span class="slash">/</span> 
				<span class="component"><a href="/Travel">Travel</a></span>
			</h4>
		</div>

		<div class="boxes">
			<div class="box">
				<a href="/Travel/Philippines">
					<img class="lazy" src="../img/Philippines/225x150/pineapple_3.jpg" data-src="../img/Philippines/900x600/pineapple_3.jpg" data-srcset="../img/Philippines/Original/pineapple_3.jpg 2x, ../img/Philippines/900x600/pineapple_3.jpg 1x" alt="Philippines">
				</a>
				<h3 class="caption">
					<a href="/Travel/Philippines">
						Philippines 2018
					</a>
				</h3>
			</div>
			<div class="box">
				<a href="/Travel/Germany">
					<div class="img_container">
						<img src="../img/Germany/900x600/731.jpg">
					</div>
				</a>
				<h3 class="caption">
					<a href="/Travel/Germany>">
						Germany-Austria-Switzerland 2017
					</a>
				</h3>
			</div>
				<a href="/Travel/HongKong">
					<img class="lazy" src="../img/Philippines/900x600/HK_skyline.jpg" data-src="../img/Philippines/Original/HK_skyline.jpg" data-srcset="../img/HongKong/Original/HK_skyline.jpg 2x, ../img/Philippines/900x600/HK_skyline.jpg 1x" alt="Hong Kong">
				</a>
				<h3 class="caption">
					<a href="/Travel/HongKong>">
						Hong Kong 2018
					</a>
				</h3>
			</div>
		</div>

		<!-- Books -->
		<div class="section">
			<h4 class="path"> 
				<span class="slash">/</span> 
				<span class="component"><a href="/Books">Books</a></span>
			</h4>
		</div>

		<div class="boxes">
			<div class="box">
				<a href="/Books">
					<div class="img_container">
						<img src="img/Books/600x900/The_Wise_Mans_Fear.jpg">
					</div>
				</a>
				<h3 class="caption">
					<a href="/Books>">
						The Wise Man's Fear
					</a>
				</h3>
			</div>
			<div class="box">
				<a href="/Books">
					<div class="img_container">
						<img src="img/Books/600x900/The_way_of_kings.jpg">
					</div>
				</a>
				<h3 class="caption">
					<a href="/Books">
						The Way of Kings
					</a>
				</h3>
			</div>
			<div class="box">
				<a href="/Books">
					<div class="img_container">
						<img src="img/Books/600x900/brave_new_world.jpg">
					</div>
				</a>
				<h3 class="caption">
					<a href="/Books">
						Brave New World
					</a>
				</h3>
			</div>
			<div class="box">
				<a href="/Books">
					<div class="img_container">
						<img src="img/Books/600x900/gulag_archipelago.jpg">
					</div>
				</a>
				<h3 class="caption">
					<a href="/Books">
						The Gulag Archipelago
					</a>
				</h3>
			</div>
			<div class="box">
				<a href="/Books">
					<div class="img_container">
						<img src="img/Books/600x900/ordinary_men.jpg">
					</div>
				</a>
				<h3 class="caption">
					<a href="/Books">
						Ordinary Men
					</a>
				</h3>
			</div>
			<div class="box">
				<a href="/Books">
					<div class="img_container">
						<img src="img/Books/600x900/lies_of_locke_lamora.jpg">
					</div>
				</a>
				<h3 class="caption">
					<a href="/Books">
						The Lies of Locke Lamora
					</a>
				</h3>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="content">
			<h4 class="path">
				<div class="boxes">
					<div class="box">
						<span class="component"><a href="img/Resume/Resume.pdf" target="_blank">/ Resume</a></span> 
					</div>
					<div class="box">
						<span class="component"><a href="https://github.com/norMNfan" target="_blank">/ Github</a></span>
					</div>
					<div class="box">
						<span class="component"><a href="https://www.linkedin.com/in/brian-norlander-1a7495160/" target="_blank">/ LinkedIn</a></span>
					</div>
				</div>
			</h3>
		</div>
    </footer>

    <!-- Lazy image loading -->
    <script>
	document.addEventListener("DOMContentLoaded", function() {
	  var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

	  if ("IntersectionObserver" in window) {
	    let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
	      entries.forEach(function(entry) {
	        if (entry.isIntersecting) {
	          let lazyImage = entry.target;
	          lazyImage.src = lazyImage.dataset.src;
	          lazyImage.srcset = lazyImage.dataset.srcset;
	          lazyImage.classList.remove("lazy");
	          lazyImageObserver.unobserve(lazyImage);
	        }
	      });
	    });

	    lazyImages.forEach(function(lazyImage) {
	      lazyImageObserver.observe(lazyImage);
	    });
	  } else {
	    // Possibly fall back to a more compatible method here
	  }
	});
	</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>