<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brian Norlander</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
	<link rel="shortcut icon" href="../img/icons/philippines-flag-round-icon-16.ico" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Inconsolata:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
	<!-- Header -->
	<header>
		<div class="content">
			<h1 class="path"> 
				<span class="component"><a href="/">~</a></span> 
				<span class="slash">/</span> 
				<span class="component"><a href="/">Brian Norlander</a></span>
				<span class="slash">/</span> 
				<span class="component"><a href="/Travel">Travel</a></span>
				<span class="slash">/</span> 
				<span class="component"><a href="/Travel">Philippines</a></span>
			</h1>
		</div>
	</header>

	<img src="../img/Philippines/pineapple_3.jpg" class="full">
	<div class="content">
		<article>
			<p>
				I visited Manila, Davao City, Samal Island, Lakue Sebu, Iloilo, Guimaras, Mambukal, Hong Kong, and Corrigedor from Dec. 29th to January 12th 2018
			</p>
			<div class="text">
				<h1>
					Manila
				</h1>
				<p>
					<a href=https://en.wikipedia.org/wiki/Manila">Manila</a>, the capitol and chief city of the Philippines, is the center of the country's economic, political, social, and cultural activity. It also has the most dense city proper in the world.
				</p>
			</div>
			<div class="chunk">
				<div class="image_two_set">
					<img src="../img/Philippines/pineapple_3.jpg" class="left">
					<img src="../img/Philippines/pineapple_3.jpg" class="right">
					<p>
						2 set
					</p>
				</div>
				<div class="image_four_set">
					<img src="../img/Philippines/pineapple_3.jpg" class="upper_left">
					<img src="../img/Philippines/pineapple_3.jpg" class="upper_right">
					<img src="../img/Philippines/pineapple_3.jpg" class="lower_left">
					<img src="../img/Philippines/pineapple_3.jpg" class="lower_right">
					<p>
						4 set
					</p>
				</div>
			</div>
		</article>
	</div>

	<!-- Footer -->
	<footer>
		<div class="content">
			<h3 class="path">

			</h3>
		</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>