	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display:block
}
	body
{
	line-height:1
}
	ol,ul
{
	list-style:none
}
	blockquote,q
{
	quotes:none
}
	blockquote:after,blockquote:before,q:after,q:before
{
	content:"";
	content:none
}
	table
{
	border-collapse:collapse;
	border-spacing:0
}
.highlight
{
	background:#fff
}
.highlight .c
{
	color:#998;
	font-style:italic
}
.highlight .err
{
	color:#a61717;
	background-color:#e3d2d2
}
.highlight .k,.highlight .o
{
	font-weight:700
}
.highlight .cm
{
	color:#998;
	font-style:italic
}
.highlight .cp
{
	color:#999;
	font-weight:700
}
.highlight .c1
{
	color:#998;
	font-style:italic
}
.highlight .cs
{
	color:#999;
	font-weight:700;
	font-style:italic
}
.highlight .gd
{
	color:#000;
	background-color:#fdd
}
.highlight .gd .x
{
	color:#000;
	background-color:#faa
}
.highlight .ge
{
	font-style:italic
}
.highlight .gr
{
	color:#a00
}
.highlight .gh
{
	color:#999
}
.highlight .gi
{
	color:#000;
	background-color:#dfd
}
.highlight .gi .x
{
	color:#000;
	background-color:#afa
}
.highlight .go
{
	color:#888
}
.highlight .gp
{
	color:#555
}
.highlight .gs
{
	font-weight:700
}
.highlight .gu
{
	color:#aaa
}
.highlight .gt
{
	color:#a00
}
.highlight .kc,.highlight .kd,.highlight .kp,.highlight .kr,.highlight .kt
{
	font-weight:700
}
.highlight .kt
{
	color:#458
}
.highlight .m
{
	color:#099
}
.highlight .s
{
	color:#d14
}
.highlight .na
{
	color:teal
}
.highlight .nb
{
	color:#0086b3
}
.highlight .nc
{
	color:#458;
	font-weight:700
}
.highlight .no
{
	color:teal
}
.highlight .ni
{
	color:purple
}
.highlight .ne,.highlight .nf
{
	color:#900;
	font-weight:700
}
.highlight .nn
{
	color:#555
}
.highlight .nt
{
	color:navy
}
.highlight .nv
{
	color:teal
}
.highlight .ow
{
	font-weight:700
}
.highlight .w
{
	color:#bbb
}
.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo
{
	color:#099
}
.highlight .s2,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx
{
	color:#d14
}
.highlight .sr
{
	color:#009926
}
.highlight .s1
{
	color:#d14
}
.highlight .ss
{
	color:#990073
}
.highlight .bp
{
	color:#999
}
.highlight .vc,.highlight .vg,.highlight .vi
{
	color:teal
}
.highlight .il
{
	color:#099
}
	h1
{
	font-weight:400;
	letter-spacing:.5px;
	line-height:2
}
	h1,h2
{
	font-family:Inconsolata,monospace;
	font-size:1.25rem
}
	article .button,article .timestamp,h3
{
	font-family:Inconsolata,monospace;
	font-size:1rem
}
	h4
{
	font-size:1.25rem;
	margin-bottom:4rem
}
.button,h4,h5
{
	font-family:Inconsolata,monospace
}
.button,h5,p
{
	font-size:1rem
}
	p
{
	font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight:400;
	line-height:1.8;
	margin-bottom:1.5rem
}
	strong
{
	font-weight:700
}
	@media screen and (max-width:640px)
{
	p
{
	font-size:1.25rem
}

}
	body,html
{
	background-color:#f9f9f9;
	color:#222;
	font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:400;
	height:100%;
	line-height:1.65;
	position:relative
}
	h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
{
	border-bottom:2px solid #222;
	color:#222;
	text-decoration:none;
	transition:all .3s ease
}
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover
{
	border-bottom:2px solid #757575;
	color:#757575;
	text-decoration:none
}
	article h2 a,p a
{
	border:0;
	color:#222;
	text-decoration:underline;
	transition:color .3s ease
}
	article h2 a:hover,p a:hover
{
	border:0;
	color:#757575;
	text-decoration:underline
}
.boxes .box .more a,.boxes .box h3 a,.path a,article .info a,article h4 a
{
	border-bottom:2px solid transparent;
	transition:border-color .3s ease
}
.boxes .box .more a:hover,.boxes .box h3 a:hover,.path a:hover,article .info a:hover,article h4 a:hover
{
	border-color:#222;
	color:#222
}
	img
{
	max-width:100%
}
	*,:after,:before
{
	box-sizing:border-box
}
.capitalize
{
	text-transform:capitalize
}
.content
{
	margin:0 auto;
	max-width:74rem;
	padding:6rem 4rem;
	width:100%
}
.content:after
{
	clear:both;
	content:" ";
	display:block
}
.content>:last-child
{
	margin-bottom:0
}
	section
{
	margin:6rem 0
}
	section.collection
{
	padding:4.5rem 0
}
	section:first-child
{
	margin-top:0
}
	section.text
{
	max-width:44rem;
	width:100%
}
	section.text+.collection
{
	padding-top:1.5rem
}
	nav
{
	margin:-3rem 0 -1.5rem
}
	@media screen and (max-width:640px)
{
	article .button,article .timestamp,h3
{
	font-size:1.25rem
}
	section
{
	margin:8rem 0
}
.content
{
	padding:6rem 2rem
}
.text.hero-image
{
	margin:-4rem 0
}

}
	@media screen and (min-width:1921px)
{
	body,html
{
	font-size:20px
}

}
	@media screen and (max-width:1920px)
{
	body,html
{
	font-size:18px
}

}
	@media screen and (max-width:1440px)
{
	body,html
{
	font-size:16px
}

}
	@media screen and (max-width:1024px)
{
	body,html
{
	font-size:15px
}

}
	@media screen and (min-width:769px)
{
.tablet-only
{
	display:none
}

}
	@media screen and (min-width:641px)
{
.mobile-only
{
	display:none
}

}
	@media screen and (max-width:640px)
{
	body,html
{
	font-size:14px
}
.hide-mobile
{
	display:none
}

}
	@media screen and (max-width:480px)
{
	body,html
{
	font-size:13px
}

}
	@media screen and (max-width:319px)
{
	body,html
{
	font-size:7px
}

}
	@media screen and (max-width:240px)
{
	body,html
{
	font-size:5px
}

}
	footer,header
{
	background-color:#e5e5e5
}
	footer .links
{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:justify;
	justify-content:space-between
}
	footer h2
{
	padding:0;
	text-indent:0
}
	footer .pages
{
	display:none;
	-ms-flex-pack:justify;
	justify-content:space-between
}
.path
{
	padding-left:3.6rem;
	text-indent:-3.6rem
}
.path .slash
{
	padding:0 .5rem
}
	@media screen and (max-width:768px)
{
	footer .content,footer .content .links,footer .content .pages
{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:center;
	justify-content:center
}
	footer .content .links,footer .content .pages
{
	-ms-flex-direction:column;
	flex-direction:column;
	padding:0 1rem 0 2rem
}
	footer .content h2
{
	margin-bottom:2rem;
	white-space:nowrap;
	width:100%
}

}
	@media screen and (max-width:640px)
{
.m-break:after
{
	clear:both;
	content:" ";
	display:block
}

}
.boxes
{
	-ms-flex-align:stretch;
	align-items:stretch;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin:0 -1.5rem -6rem
}
.boxes .box
{
	-ms-flex-pack:start;
	justify-content:flex-start;
	margin-bottom:3rem;
	padding:0 1.5rem;
	position:relative;
	width:33.3333%
}
.boxes .box .figure-wrapper
{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	-ms-flex-pack:center;
	justify-content:center
}
.boxes .box .figure-wrapper figure
{
	-ms-flex:1;
	flex:1
}
.boxes .box .more
{
	display:block;
	-ms-flex:0;
	flex:0;
	padding-bottom:50%;
	position:relative;
	width:100%
}
.boxes .box .more a
{
	-ms-flex-align:center;
	align-items:center;
	background-color:#e5e5e5;
	border:0;
	bottom:0;
	color:#222;
	display:-ms-flexbox;
	display:flex;
	font-size:4rem;
	-ms-flex-pack:center;
	justify-content:center;
	left:0;
	position:absolute;
	right:0;
	text-decoration:none;
	top:0;
	transition:background-color .3s ease;
	width:100%
}
.boxes .box .more a:hover
{
	background:#d5d5d5
}
.boxes .box h3
{
	margin-top:1.5rem
}
.boxes .feature-section
{
	display:-ms-flexbox;
	display:flex;
	width:100%
}
.boxes .featured
{
	width:50%
}
.boxes .featured h3
{
	font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:2.25rem;
	line-height:1.2;
	margin:3rem 0 1.5rem
}
.boxes .alongside-featured
{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	width:50%
}
.boxes .alongside-featured>.box
{
	width:50%
}
	@media screen and (max-width:1024px)
{
.boxes .box
{
	width:33.333333%
}
.boxes .feature-section
{
	display:block
}
.boxes .featured
{
	-ms-flex-align:start;
	align-items:flex-start;
	display:-ms-flexbox;
	display:flex;
	width:100%
}
.boxes .featured .figure-wrapper
{
	-ms-flex-negative:0;
	flex-shrink:0;
	padding-right:1.5rem;
	width:50%
}
.boxes .featured .figure-wrapper+div
{
	padding-left:1.5rem
}
.boxes .featured h3
{
	margin-top:0
}
.boxes .alongside-featured
{
	width:100%
}
.boxes .alongside-featured .box
{
	width:33%
}

}
	@media screen and (max-width:768px)
{
.boxes .box
{
	width:50%
}
.boxes .featured
{
	display:block;
	width:100%
}
.boxes .featured .figure-wrapper
{
	-ms-flex-negative:0;
	flex-shrink:0;
	padding-right:0;
	width:100%
}
.boxes .featured .figure-wrapper+div
{
	padding-top:1.5rem;
	padding-left:0
}
.boxes .featured h3
{
	margin-top:0
}
.boxes .alongside-featured
{
	width:100%
}
.boxes .alongside-featured .box
{
	width:50%
}

}
	body .scrim
{
	background-color:#f9f9f9;
	bottom:0;
	left:0;
	opacity:0;
	pointer-events:none;
	position:fixed;
	right:0;
	top:0;
	transition:opacity .3s ease;
	z-index:3
}
	body[class*=viewer-] .scrim
{
	cursor:zoom-out;
	opacity:1;
	pointer-events:auto
}
.progressive-image
{
	overflow:hidden;
	position:relative;
	transform-origin:0 0;
	transition:transform .3s ease
}
.progressive-image .aspect-ratio-holder
{
	height:0;
	width:100%
}
.progressive-image.with-viewer
{
	cursor:zoom-in
}
.progressive-image.with-viewer.is-open
{
	cursor:zoom-out
}
.progressive-image img
{
	height:100%;
	left:0;
	opacity:0;
	position:absolute;
	top:0;
	transition:opacity .3s ease;
	z-index:2
}
.progressive-image img.thumbnail
{
	-webkit-filter:blur(30px);
	filter:blur(30px);
	opacity:1;
	z-index:1
}
.progressive-image.loaded img
{
	opacity:1
}
.progressive-image.loaded .raw,.progressive-image.loaded img.thumbnail
{
	opacity:0
}
.progressive-image.loaded-raw img
{
	transition:none
}
.progressive-image.loaded-raw img.raw
{
	opacity:1
}
.progressive-image.loaded-raw img.full,.progressive-image.loaded-raw img.thumbnail
{
	opacity:0
}
.podcast
{
	display:-ms-flexbox;
	display:flex;
	margin-bottom:6rem
}
.podcast .image
{
	width:8rem
}
.podcast .image p
{
	margin-top:.5rem;
	text-align:center
}
.podcast .copy
{
	-ms-flex:1;
	flex:1;
	margin-left:4rem
}
	@media screen and (max-width:640px)
{
.podcast
{
	display:block
}
.podcast .image
{
	float:left;
	margin:0 1.5rem 1.5rem 0;
	width:5rem
}
.podcast h4:after
{
	clear:both;
	content:" ";
	display:block
}
.podcast .copy
{
	margin-left:0
}

}
	article h2
{
	font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:2.25rem;
	margin:6rem 0 1.5rem
}
	article h2+h3
{
	font-family:Inconsolata,monospace;
	margin:-1.5rem 0 2.5rem
}
	article h3
{
	font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:1.25rem;
	margin-bottom:1rem
}
	article h4
{
	font-size:1rem;
	margin:1rem 0
}
	article blockquote
{
	background-color:#e5e5e5;
	margin:3rem;
	padding:3rem
}
	article .highlight
{
	position:relative
}
	article .highlight:after,article .highlight:before
{
	bottom:0;
	content:" ";
	position:absolute;
	top:0;
	width:2rem
}
	article .highlight:before
{
	background:linear-gradient(270deg,hsla(0,0%,90%,0),#e5e5e5);
	left:0
}
	article .highlight:after
{
	background:linear-gradient(90deg,hsla(0,0%,90%,0),#e5e5e5);
	right:0
}
	article pre
{
	background-color:#e5e5e5;
	margin:1.5rem 0;
	overflow:scroll;
	padding:2rem;
	width:100%
}
	article pre code
{
	line-height:1.5;
	padding:0
}
	article code
{
	background-color:#e5e5e5;
	font-family:Inconsolata,monospace;
	margin:0;
	padding:.25rem .5rem
}
	article ol,article ul
{
	margin:1.5rem 0;
	padding-left:3rem
}
	article ol li,article ul li
{
	list-style-position:outside;
	margin-bottom:1rem;
	padding-left:1rem
}
	article ol li
{
	list-style:decimal
}
	article ul li
{
	list-style:disc
}
	article .tight-figure
{
	margin:3rem 6rem
}
	article .tight-figure h5
{
	padding:0;
	text-align:center
}
	article .button
{
	margin-bottom:1rem
}
	article .button-group .button
{
	margin-right:1rem
}
	article .button-group .button:last-child
{
	margin-right:0
}
	article .cta,article .timestamp
{
	margin:2.5rem 0 4rem
}
	article figure
{
	margin:4rem 0
}
	article figure+h5
{
	margin:-2.5rem 0 4rem;
	padding:0 4rem;
	text-align:center
}
	article em
{
	font-style:italic
}
	article :first-child
{
	margin-top:0
}
	article :last-child
{
	margin-bottom:0
}
	article .video
{
	height:0;
	padding-bottom:56.25%;
	position:relative;
	width:100%
}
	article .video.disable-cursor
{
	pointer-events:none
}
	article .video iframe
{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
	@media screen and (max-width:640px)
{
	article .tight-figure
{
	margin:3rem 0
}
	article section
{
	margin:6rem 0
}
	article figure+h5
{
	padding:0;
	text-align:left
}
	article h2
{
	font-size:2rem
}

}
	figure+.image-set
{
	margin-top:-2.5rem
}
.image-set
{
	margin:3rem -.75rem 0
}
.image-set .large,.image-set .small
{
	-ms-flex-align:start;
	align-items:flex-start;
	display:-ms-flexbox;
	display:flex;
	font-size:0;
	margin-bottom:1.5rem;
	width:100%
}
.image-set .large figure,.image-set .small figure
{
	margin:0 .75rem;
	width:50%
}
.image-set+h5
{
	margin-bottom:4rem;
	padding:0 2rem;
	text-align:center
}
	@media screen and (max-width:640px)
{
.image-set+h5
{
	padding:0;
	text-align:left
}

}
.button
{
	background-color:#e5e5e5;
	border:0;
	color:#222;
	display:inline-block;
	-ms-flex-positive:0;
	flex-grow:0;
	padding:.75rem 2rem;
	text-decoration:none
}
.button:after
{
	content:"\2192";
	display:inline-block;
	padding-left:1rem;
	transform:translate3d(-.5rem,0,0);
	transition:transform .3s ease
}
.button:hover
{
	border:0;
	border-color:#222;
	color:#222;
	text-decoration:none
}
.button:hover:after
{
	transform:none
}
.visual-list
{
	display:-ms-flexbox;
	display:flex;
	margin-bottom:6rem
}
.visual-list h4
{
	margin-top:-.25rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.visual-list .image
{
	-ms-flex-negative:0;
	flex-shrink:0;
	width:8rem
}
.visual-list .image p
{
	margin-top:.5rem;
	text-align:center
}
.visual-list .copy
{
	-ms-flex:1;
	flex:1;
	margin-left:4rem;
	min-width:0
}
.visual-list.large .image
{
	width:16rem
}
	@media screen and (max-width:640px)
{
.visual-list
{
	display:block
}
.visual-list .image
{
	float:left;
	margin:0 1.5rem 1.5rem 0;
	width:5rem
}
.visual-list h4:after
{
	clear:both;
	content:" ";
	display:block
}
.visual-list .copy
{
	margin-left:0
}
.visual-list.large .image
{
	float:none;
	width:100%
}

}

